################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/BlogCore/DesignTimeBuild
/.vs/BlogCore/FileContentIndex
/.vs/BlogCore/v17/TestStore/0
/.vs
