<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="BloggingDatabase"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=localhost\\MSSQLSERVER01;AttachDbFilename=C:\\tmp\\blog-test.mdf;TrustServerCertificate=True;Integrated Security=SSPI"/>
	</connectionStrings>
</configuration>